<!--HEREDANDO DE LA PLANTILLA BASE-->
{% extends 'general/Base.html' %}
<!-- END HEREDANDO DE LA PLANTILLA BASE-->
<!--ADICIONDO CSS, JS-->

<!--ADICIONDO TITULO-->
{% block titulo %}
        Solicitudes en Proceso
{% endblock %}
<!--END ADICIONDO TITULO-->
{% load static %}
{% block scripts %}
    <script src="{% static 'espectro/scripts/table_general.js' %}" type="text/javascript"></script>
    <script src="{% static 'espectro/scripts/listado_solicitudes_proceso.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/scripts/subcripcion.js' %}" type="text/javascript"></script>
{% endblock %}
{% block css %}
	<link href="{% static 'espectro/css/listado_sistemas.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
<!--END ADICIONDO CSS, JS-->

<!--ADICIONANDO TITULO BREADCRUMB DE LA PAGINA-->>
{% block title_page_breadcrumb %}
    <div class="row">
        <div class="col-md-6">
            <h3 class="page-title">	Solicitudes en Proceso </h3>
        </div>
        <div class="col-md-6">
             {% include 'general/ASubcripcion.html' with href_subcripcion='/general/subcripcion/0'%}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10" id="div_breadcrumb">
            <ul class="page-breadcrumb breadcrumb">
	            <li>
		            <i class="fa fa-home"></i>
			        <a href="{% url 'espectro:listado sistemas' 1 %}">Espectro Radioeléctrico</a>
		            <i class="fa fa-angle-right"></i>
	            </li>
	            <li>
		            <a href="#">Solicitudes en Proceso</a>
	            </li>
            </ul>
        </div>
        <div class="col-md-2 actions">
             <a class="btn btn-primary pull-right" href="{% url 'espectro:nuevo_sistema'%}" id="a_nuevo_sistema"
             {% if not perms.espectro.permisionario %} disabled="" {% endif %}> Insertar Nuevo Sistema </a>
        </div>

    </div>

{% endblock %}
<!--END ADICIONANDO TITULO BREADCRUMB DE LA PAGINA-->>

<!--ADICIONADO CONTENIDO DE LA PAGINA-->
{% block content %}
<div class="row" id="div_encabezado_busqueda">
    <ul class="nav nav-tabs">
        <li {% if request.path == '/espectro/listado_solicitudes_proceso/0'%} class="active" {% endif %}><a href="{% url 'espectro:listado solicitudes proceso' 0 %}">Todas</a></li>
        <li {% if request.path == '/espectro/listado_solicitudes_proceso/1'%} class="active" {% endif %}><a href="{% url 'espectro:listado solicitudes proceso' 1 %}">Altas en Proceso</a></li>
        <li {% if request.path == '/espectro/listado_solicitudes_proceso/2'%} class="active" {% endif %}><a href="{% url 'espectro:listado solicitudes proceso' 2 %}">Bajas en Proceso</a></li>
        <li {% if request.path == '/espectro/listado_solicitudes_proceso/3'%} class="active" {% endif %}><a href="{% url 'espectro:listado solicitudes proceso' 3 %}">Modificaciones en Proceso</a></li>
        <li {% if request.path == '/espectro/listado_solicitudes_proceso/4'%} class="active" {% endif %}><a href="{% url 'espectro:listado solicitudes proceso' 4 %}">Sistemas sin tramitar</a></li>
        <!--<li><a href="#">Mensajes</a></li> -->
    </ul>
    <div class="col-md-2">
        {% if request.path == '/espectro/listado_solicitudes_proceso/0' %}
            <p><strong>Todas las solicitudes ({{ cant_elem }})</strong></p>
        {% endif %}
        {% if request.path == '/espectro/listado_solicitudes_proceso/1' %}
            <p><strong>Altas ({{ cant_elem }})</strong></p>
        {% endif %}
        {% if request.path == '/espectro/listado_solicitudes_proceso/2' %}
            <p><strong>Bajas ({{ cant_elem }})</strong></p>
        {% endif %}
        {% if request.path == '/espectro/listado_solicitudes_proceso/3' %}
            <p><strong>Modificaciones ({{ cant_elem }})</strong></p>
        {% endif %}
        {% if request.path == '/espectro/listado_solicitudes_proceso/4' %}
            <p><strong>Sistemas sin tramitar ({{ cant_elem }})</strong></p>
        {% endif %}
    </div>

    <div class="pull-right" id="div_exportar">
        <a href="#" class="btn-sm btn-primary pull-right" id="a_exportar">
            <i class="fa fa-arrow-down"></i>
            Exportar
        </a>
        <i class="clean"></i>
    </div>

    <div class="col-md-3 pull-right input-group">
        <input type="text" placeholder="No.Sistema o Enlace" class="form-control input-sm" id="input_search" value="{{ busqueda }}"/>
        <span class="input-group-addon">
            <a href="#" class="btn fa fa-search" id="a_search"></a>
        </span>
    </div>

    <div class="col-md-3 pull-right" id="div_municipios">
        <select id="select_municipios" class="selectpicker" multiple data-actions-box="true"
                data-deselect-all-text="Ninguno" data-select-all-text="Todos" data-none-selected-text="Ninguno">
            {% for key, value in municipio_dt_dict.items|dictsort:0 %}
                <option {{value}} data-original-index="{{ value }}">{{key}}</option>
            {% endfor %}
        </select>

    </div>

    <div class="pull-right col-md-2" id="div_per_page">
        <select id="select_per_page" class="pull-right selectpicker" data-width="50%">
            {% for key, value in dict_per_page.items %}
                <option {{value}} data-original-index="{{ value }}">{{key}}</option>
            {% endfor %}
        </select>
        <label for="select_per_page" class="pull-right">Mostar:&nbsp</label>
    </div>

    <div class="col-md-12 table-responsive">
        {% if table.cant_rows > 0 %}
            {% load render_table from django_tables2 %}
            {% render_table table %}
        {% else %}
            <h1>No hay resultados que mostrar</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
<!-- END ADICIONADO CONTENIDO DE LA PAGINA-->
