<div id="div_tables_indicadores">
    <p> <strong>{{ title_table_indicadores_cta_tb }}</strong></p>
    {% load render_table from django_tables2 %}
    {% render_table table_indicadores_cta_tb %}

    <p> <strong>{{ title_table_indicadores_ctp_tb }}</strong></p>
    {% load render_table from django_tables2 %}
    {% render_table table_indicadores_ctp_tb %}

    <p> <strong>{{ title_table_indicadores_cta_tx }}</strong></p>
    {% load render_table from django_tables2 %}
    {% render_table table_indicadores_cta_tx %}

    <p> <strong>{{ title_table_indicadores_ctp_tx }}</strong></p>
    {% load render_table from django_tables2 %}
    {% render_table table_indicadores_ctp_tx %}
</div>